<!DOCTYPE html>
<html>
<head>
<title>My First Webpage!</title>
<style>
body {
	background-image: url('/img/gray.jpg');
}

h1 {
	color: rgb(179, 19, 27);
}

p {
	color: greenyellow;
	font-size: xx-large;
}

td {
	font-size: xx-large;
}

li {
	font-size: x-large;
	color: greenyellow;
}
</style>
<h1>
	<em><i><b>"WELCOME TO MY WEBAPGE FOR CREATING TABLES IN
				SQL"</b></i></em>
</h1>
<img src="/img/sql.jpg" width="400px" height="200px">
<img src="/img/sql12.jpg" width="400px" height="200px">
<img src="/img/sql2.jpeg" width="400px" height="200px">
<img src="/img/sql3.jpg" width="400px" height="200px">
<img src="/img/sql4.jpg" width="400px" height="200px">
<img src="/img/sql5.jpg" width="400px" height="200px">
<img src="/img/sql6.jpg" width="400px" height="200px">
<img src="/img/sql7.jpg" width="400px" height="200px">
<img src="/img/sql8.jpg" width="400px" height="200px">
<img src="/img/sql9.jpg" width="400px" height="200px">
<img src="/img/sql10.webp" width="400px" height="200px">
<img src="/img/sql11.jpg" width="400px" height="200px">




<p>
	<br> <b>As you can see below.. i have created one tables ..</br>
		<ol>
			<li>When we enter in (fisrt row, first column), such as <b>"NAME".
					<br>Then, it will display the data of name of all students.</br></li>
			<br>

			<li>And second in which we enter in(first row, second column),
				such as "COURSE". <br> Then, it will display the data of course
				of all students.</br>
			</li>
			<br>
			<li>And third is (first row, third column), such as "ID". <br>Then,
				it will display the data of id of all students.</br></li>
			<br>
			<li>And fourth in which we enter in(first row, fourth column),
				such as "ADDRESS". <br>Then, it will display the data of
				address of all students.</b></br>
</li>
<br>

</ol>

</p>

<table border="5" cellpadding="17" cellspacing="10">
	<tr>
		<td><button>Stu_name</button></td>
		<td><button>Stu_course</button></td>
		<td><button>Stu_id</button></td>
		<td><button>Stu_address</button></td>
	</tr>
	<tr>
		<td><button>Aditi</button></td>
		<td><button>BCA</button></td>
		<td><button>aditi@456</button></td>
		<td><button>Sasaram</button></td>
	</tr>
	<tr>
		<td><button>Abhishek</button></td>
		<td><button>MCA</button></td>
		<td><button>abhishek@45</button></td>
		<td><button>Patna</button></td>
	</tr>

	<tr>
		<td><button>Bhaiya</button></td>
		<td><button>IT</button></td>
		<td><button>jainendra@456</button></td>
		<td><button>Bengaleru</button></td>
	</tr>
</table>


<iframe width="560" height="315"
	src="https://www.youtube.com/embed/oReH2vO8Izc" frameborder="1"
	allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
	allowfullscreen></iframe>

<h2>Contact us</h2>
<form>
	Name:<br> <input type="text"><br> <br> Email:<br>
	<input type="text"><br> <br> Password:<br> <input
		type="password" value="FakePSW"><br> <br>
	<button>Submit</button>
</form>
</body>
</html>